.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 4.6rem;
    font-weight: 300;
    font-family: var(--font-display);
    color: black;
  }
}
