.activation {
  padding: 3rem;

  &__title {
    font-family: var(--font-display);
    font-size: 3.1rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
  }

  &__yay {
    font-family: var(--font-display);
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  &__message {
    font-family: var(--font-normal);
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 2rem;
  }
}
